@import '../vars';

.lessons {

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      display: flex;

      .status {
        margin-right: 10px;
      }
      .title {
        flex: 1;
      }
    }
  }
}