@import '../vars';

html, body {
  font: @font;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.container {
  flex: 1;
  width: @width-container;
  background-color: @background-color-container;
  padding: 20px 40px;
}
.footer {
  width: 80%;
  padding: 10px 20px;
  border-top: 1px solid @border-color;
  background-color: @background-color-footer;
}
