
.lessons ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.lessons ul li {
  display: -webkit-box;
  display: flex;
}
.lessons ul li .status {
  margin-right: 10px;
}
.lessons ul li .title {
  -webkit-box-flex: 1;
  flex: 1;
}

html,
body {
  font: Georgia 12px #999;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.container {
  -webkit-box-flex: 1;
  flex: 1;
  width: 1000px;
  background-color: whitesmoke;
  padding: 20px 40px;
}
.footer {
  width: 80%;
  padding: 10px 20px;
  border-top: 1px solid #219cba;
  background-color: white;
}

/*# sourceMappingURL=less.css.map */
